body {
    background-color: #E0D3AF;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #0388a6;
}
p {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #0388a6;
}
.container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}